
<!DOCTYPE html>
<html lang="en">
<head>
  <title>San Francisco Movie Service</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
   <script src="mapStyle.js"></script> 
</head> 
  <body>
    <div class="container">
      <br/>
      <b>Titles: </b> 
      <input list="titles" id="titlesId"/>
      <datalist id="titles">
        <select id="selectId">
          <% for(var i=0; i < DB.length; i++){ %>
            <option value="<%= DB[i].title %>" label="<%= i %>"/>
          <% } %>
        </select>
      </datalist>
      <input type="button" value="Goto" onclick="gotoPosition();"/>
    
      <br/><br/>
      <div id="map"></div>
      <script>
        function gotoPosition(){
          var selected = document.getElementById('titlesId').value;
          var options = document.getElementById('selectId').options;
          <% for(i=0; i < DB.length; i++){ %>
            if(options[<%= i %>].value == selected){ 
              map.setCenter({lat: <%= DB[i].lat %>, lng: <%= DB[i].lng %>});
              return;
            }
          <% } %>
          alert('couldn\'t find selected='+selected);
        }
        var map;
        function initMap(){
          map = new google.maps.Map(document.getElementById('map'), {
            zoom: 5,
            center: {lat: <%= DB[0].lat %>, lng: <%= DB[0].lng %>},
            styles: mapStyle()
          });
          <% for(var i=0; i < DB.length; i++){ %>
            var marker<%= i %> = new google.maps.Marker({
              position: {lat: <%= DB[i].lat %>, lng: <%= DB[i].lng %>},
              title: "<%= DB[i].title %>",
              map: map
            });
          <% } %>
        }
      </script>
      <script async defer
          src=<%= "https://maps.googleapis.com/maps/api/js?key="+apiKey+"&callback=initMap" %> >
      </script>

    </div>
  </body>
</html>